* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(205, 56, 205, 1) 0%, rgba(0, 0, 255, 1) 100%);
}




.container {
    width: 90%;
    max-width: 450px;
}

h1 {
    color: white;
    opacity: 0.75;
    letter-spacing: 0.7px;
    text-align: center;
    line-height: 1.2;
}

.display-container {
    position: relative;
    background-color: darkviolet;
    border-radius: 1rem;
    border-bottom: 4.35px solid rgb(207, 159, 255);
    margin: 1rem 0;
    padding-top: 0.35rem;
}

.display {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 1.0rem 1rem;
    /* color: 	yellow; */
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.25rem;

}

.display::placeholder {
    position: absolute;
    top: 50%;
    left: 1.15rem;
    font-size: 1.5rem;
    line-height: 30px;
    color: rgb(248, 179, 5);
    opacity: 0.65;
    text-transform: uppercase;
    transform: translateY(-50%);

}

.display-container button {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;

}

.input-container {
    width: 100%;
    background-color: darkviolet;
    border-radius: 1rem;
    padding: 2rem;
    border-bottom: 4.35px solid rgb(207, 159, 255);

}


.length-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.length-container p:nth-child(1) {
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.length-container p:nth-child(2) {
    color: rgb(248, 179, 5);
    font-size: 1.5rem;
}


.strength-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}

.strength-container p {
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.indicator {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;

}

.generateButton {
    width: 100%;
    padding: 1rem 0;
    background-color: darkviolet;
    text-align: center;
    border-radius: 0.75rem;
    /* border-bottom: 4.35px solid rgb(248, 179, 5); */
    font-weight: 600;
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: rgb(248, 179, 5);
    text-transform: uppercase;
    border-top: 0;
    border-right: 0;
    border-bottom: 4.35px solid rgb(248, 179, 5);
    border-left: 0;
    transform: scale(1);

}

.generateButton:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.check{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 0 1rem;
}

.check input{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(0, 217, 255);
    cursor: pointer;
    position: relative ;
    border-radius: 0.35rem;
}


.check input:checked{
    background-color: rgb(0, 217, 255); ;

}


.check input:checked::before {
    content: 'u2157';
    position: absolute;
    color: white;
    font-size: 1.05rem;
    font-weight: 600;
    left: 50%;
    top: -3.5px;
    transform: translate(-50%  40%);
}